<!DOCTYPE html>
<html>
<title>Online shop</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Karma", sans-serif
    }

    .w3-bar-block .w3-bar-item {
        padding: 20px
    }


    .row {
        display: flex; /* equal height of the children */
    }

    .col {
        flex: 1; /* additionally, equal width */

        padding: 1em;
        border: solid;
    }
</style>
<body>

<!-- Sidebar (hidden by default) -->


<!-- Top menu -->
{% include 'includes/navbar.twig' %}
<br><br><br>
<h3 class="w3-center">PRODUCTS OF THE SHOP</h3>
<p class="w3-center w3-large">The best in Town</p>
<h4 style="color: #580A0A;font-family: " Helvetica Neue", Helvetica, Arial, sans-serif">Categories</h4>
<ul style="display: inline">
    <li style="display: inline;background-color"><a style="text-decoration: none;text-decoration-color: #580A0A"
                                                    href="/products">ALL</a>
    </li>
    {% for category in categories %}
        <li style="display: inline;background-color"><a style="text-decoration: none;text-decoration-color: #580A0A"
                                                        href="/products/filter?category_id={{ category.id }}">{{ category.name }}</a>
        </li>
    {% endfor %}
</ul>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

    <!-- First Photo Grid-->

        {% for product in products %}

            <div class="w3-quarter col-md-3 ">
                <img src="/{{ product.profile_picture }}" alt="" style="width:200px; height:247px">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <input type="submit" name="add_to_cart" style="text-align: center" class="btn btn-danger"
                       style="float:left; margin-bottom:8px;"
                       value="Add to Cart"/>
            </div>


        {% endfor %}



    <!-- Pagination -->


    <hr id="about">

    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">
        <h3>Who are we</h3>
        <img src="images/who.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
        <div class="w3-padding-32">
            <h4><b>We are the best!</b></h4>
            <h6><i>With Passion For Real</i></h6>
            <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of
                lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus
                ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies
                congue gravida diam non fringilla.</p>
        </div>
    </div>
    <hr>


    <!-- End page content -->
</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</body>
</html>
